<!DOCTYPE html>


<head>
	<title> Error Checker Taxonomy tool</title>
</head>



<div class="container">
    <link href="style_formulario2.css" rel="stylesheet" type="text/css">

    <form id="signup",method="post" enctype=multipart/form-data>

        <div class="header">
        
            <h3>Error Checker Taxonomy tool</h3>
            
            <p>Upload Your Taxonomy File</p>
            
        </div>
        
        <div class="sep"></div>

        <div >

            <input id="myFile" href="#" values="Send your file" type="file" name="filename" accept=".csv">        
        </div>
        
        <input type="submit" values="Send your file"  />

    </form>

</div>
​